.no-scrollbar::-webkit-scrollbar {
  width: 3px;
}
.no-scrollbar::-webkit-scrollbar-track {
  background: #fff;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 3px; /* Firefox */
}
